html.light {
    --syntax-light-name-tag: #1d9240;
    --syntax-light-name-builtin: #1d9240;
    --syntax-light-literal-string-symbol: #0088d3;
    --syntax-light-literal-string-double: #0088d3;
}
.sy-head-brand {
    font-family: var(--sy-f-heading);
    font-size: 1.2rem;
}
.globaltoc > ul > li > .reference.internal {
    font-weight: 600;
}
/* .sy-head-links li.link > a {
    font-weight: 600;
} */
div.localtoc > h3 {
    font-family: var(--sy-f-text);
    font-weight: 600;
}
.toctree-wrapper > ul > li > .reference.internal {
    font-weight: 600;
}
