[snowflake]
account = ""
user = ""
password = ""
warehouse = ""
database = ""
role = ""
# Optional parameters
# schema = ""
# authenticator = "externalbrowser"  # For SSO
# region = "us-east-1"

[databricks]
server_hostname = ""
http_path = ""
access_token = ""
catalog = ""
# Optional parameters
# schema = ""
# port = 443
# client_id = ""   # For OAuth M2M
# client_secret = ""
